/*
This stylesheet holds all the styling for the theme's main navigation bar.
*/
nav {
  margin: 0 -15px;
  position: fixed;
  width: 100%; }
  nav .upperNav {
    width: 100%;
    height: 2em;
    line-height: 2em;
    overflow: hidden; }
    nav .upperNav .searchform {
      display: none; }
    nav .upperNav .menu-secondary-menu-container {
      float: right;
      font-size: 0.8em; }
      nav .upperNav .menu-secondary-menu-container ul {
        margin: 0;
        padding: 0; }
        nav .upperNav .menu-secondary-menu-container ul li {
          list-style: none; }
  nav .navMenu {
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer; }
    nav .navMenu img {
      width: 150px;
      height: auto; }
  nav .lowerNav {
    margin: 0 -15px; }
    nav .lowerNav .logo-placeholder {
      display: none; }
    nav .lowerNav ul {
      max-height: 0;
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: hidden; }
      nav .lowerNav ul li {
        text-align: center;
        line-height: 50px; }
        nav .lowerNav ul li a {
          display: block;
          text-decoration: none; }

.navScroll {
  max-height: 100% !important; }

.subMenuIcon {
  position: relative;
  height: 0;
  bottom: 50px;
  left: 5.5em;
  cursor: pointer; }
  .subMenuIcon span {
    display: inline-block;
    background: red;
    line-height: 1.8em;
    height: 1.8em;
    width: 1.8em;
    border: 1px solid black;
    border-radius: 0.5em; }

@media screen and (min-width: 768px) {
  .navStrip {
    position: fixed;
    height: 50px;
    width: 100%; }

  nav .navMenu {
    display: none; }
  nav .upperNav .searchform {
    display: block;
    float: right;
    margin-left: 10px;
    color: black;
    font-size: 0.8em; }
    nav .upperNav .searchform input {
      height: 1.5em;
      line-height: normal;
      font-weight: normal;
      border: none; }
    nav .upperNav .searchform .screen-reader-text {
      opacity: 0;
      position: absolute; }
  nav .lowerNav .menu-header-navigation-container {
    float: right; }
  nav .lowerNav .logo-placeholder {
    display: block;
    float: left;
    position: relative; }
    nav .lowerNav .logo-placeholder img {
      width: 150px;
      height: auto; }
  nav .lowerNav .menu > li {
    float: left;
    display: block; }
  nav .lowerNav ul {
    max-height: none;
    overflow: visible; }
    nav .lowerNav ul li {
      display: none;
      position: relative;
      width: 9em; }
      nav .lowerNav ul li:hover > ul > li {
        display: block; }
      nav .lowerNav ul li ul ul {
        position: absolute;
        top: 0;
        left: 9em; }
      nav .lowerNav ul li a {
        border-bottom: none; }

  .subMenuIcon {
    display: none; } }
/* Page header */
#bannerImage {
  height: 50vh;
  overflow: hidden;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
  -webkit-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 30px 0 rgba(0, 0, 0, 0.4); }

/* Page titles (parent/child) */
.page-title {
  text-align: center; }

.parent-page-title {
  line-height: 35vh; }
  .parent-page-title a {
    color: inherit;
    text-decoration: none; }
    .parent-page-title a:hover {
      color: inherit; }

.page-menu .col-sm-6,
.page-menu .col-md-3 {
  padding-left: 2.5px;
  padding-right: 2.5px; }

.child-page-list {
  text-align: center;
  list-style-type: none; }
  .child-page-list li {
    display: table;
    margin-bottom: 5px; }
    .child-page-list li a {
      display: table-cell;
      height: 50px;
      text-decoration: none;
      vertical-align: middle; }

.blogArea .youandmeBlog {
  background: #abc;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
  outline: 1px solid green; }
  .blogArea .youandmeBlog .thumbnail-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    outline: 1px solid red; }
    .blogArea .youandmeBlog .thumbnail-img h2 {
      outline: 1px solid orange; }
    .blogArea .youandmeBlog .thumbnail-img .blogSummary {
      outline: 1px solid blue; }
.blogArea .post-aside {
  background: pink; }

.wh {
  height: 100% !important; }

.ww {
  width: 100% !important; }

footer ul {
  padding: 0; }
  footer ul li {
    list-style-type: none; }
footer .main-column,
footer .secondary-column,
footer .lowerFooter {
  text-align: center; }
footer .menu-footer-navigation-container li {
  display: inline-block;
  padding: 0 10px 0 0; }
  footer .menu-footer-navigation-container li:not(:last-child) {
    border-right: 1px solid black; }

@media screen and (min-width: 992px) {
  footer .main-column,
  footer .secondary-column,
  footer .lowerFooter {
    text-align: left; } }
.introduction {
  margin-top: 15px; }
  .introduction .fp-intro {
    height: 250px; }
    .introduction .fp-intro .img-background {
      width: 100%;
      height: 100%;
      overflow: hidden;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -ms-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important; }
      .introduction .fp-intro .img-background .intro-text {
        float: right;
        position: relative;
        padding: 0 15px 15px 15px;
        width: 100%;
        height: 100%;
        background: rgba(36, 55, 67, 0.8); }
        .introduction .fp-intro .img-background .intro-text .link {
          position: absolute;
          bottom: 15px;
          right: 15px;
          width: 150px;
          height: 30px;
          line-height: 30px;
          text-align: center; }
          .introduction .fp-intro .img-background .intro-text .link a {
            display: block; }
  .introduction .second .area {
    float: left;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 15px 15px 15px; }
    .introduction .second .area .link {
      position: absolute;
      bottom: 15px;
      right: 15px;
      width: 150px;
      height: 30px;
      line-height: 30px;
      text-align: center; }
      .introduction .second .area .link a {
        display: block; }
  .introduction .quote-area {
    margin: 60px 0;
    text-align: center; }

.programList .is-table-row .area .box {
  border: 1px solid blue;
  background: #ccc;
  margin-bottom: 15px;
  padding: 0 15px; }

.eventList .eventPost {
  overflow: hidden;
  margin-bottom: 15px; }
  .eventList .eventPost .img-box {
    position: relative;
    width: 100%;
    height: 250px;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -ms-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
    overflow: hidden; }
    .eventList .eventPost .img-box:hover .img-overlay {
      background: rgba(36, 55, 67, 0.3); }
    .eventList .eventPost .img-box .post-title {
      float: left;
      margin: 0;
      padding: 15px 15px;
      background: rgba(36, 55, 67, 0.3); }
      .eventList .eventPost .img-box .post-title a {
        color: white; }
    .eventList .eventPost .img-box .post-excerpt {
      float: left;
      position: absolute;
      margin: 0;
      padding: 15px;
      bottom: 0;
      background: rgba(36, 55, 67, 0.3);
      box-sizing: border-box; }
    .eventList .eventPost .img-box .img-overlay {
      width: 100%;
      height: 100%;
      background: rgba(36, 55, 67, 0.1); }
.eventList .moreEvents {
  margin: 0 auto;
  width: 200px;
  height: 75px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 30px;
  background: #28b78d; }
  .eventList .moreEvents:hover {
    background: #34d37c; }
  .eventList .moreEvents a {
    display: block;
    color: #fafafa; }

.section-card {
  font-size: 30px;
  text-align: center; }

@media screen and (min-width: 576px) {
  .introduction .fp-intro .img-background .intro-text {
    width: 50%; }
  .introduction .second .area {
    width: 50%; }

  .programList .container {
    margin-bottom: 15px; }
  .programList .is-table-row {
    display: table;
    height: 100%; }
    .programList .is-table-row .area {
      float: none;
      display: table-cell;
      width: 50%;
      height: 100%;
      vertical-align: top; }
      .programList .is-table-row .area .box {
        display: table;
        height: 100%;
        margin-bottom: 0; }
      .programList .is-table-row .area .second {
        margin-bottom: 15px; }
    .programList .is-table-row .left {
      padding-right: 7.5px; }
    .programList .is-table-row .right {
      padding-left: 7.5px; } }
@media screen and (min-width: 992px) {
  .introduction .main {
    padding-right: 7.5px; }
  .introduction .second {
    padding-left: 7.5px; } }
nav .upperNav .header-widget ul {
  margin: 0;
  padding: 0; }
nav .upperNav .header-widget li {
  margin: 0;
  list-style: none; }
nav .lowerNav .menu > li:last-child {
  background: #34d37c; }

@media screen and (min-width: 768px) {
  .lowerNav .menu > li:first-child {
    display: none; } }
/*
=====================================================================================
You & Me International Foundation default CSS settings
All CSS listed here can be modified in WP Admin Dashboard
=====================================================================================
*/
/* General Colors */
html a,
body a {
  color: #28b78d; }
  html a:hover,
  body a:hover {
    color: #34d37c;
    text-decoration: none; }

/* Navigation */
nav {
  color: #fafafa; }
  nav .navMenu,
  nav .navStrip {
    background: #28b78d; }
  nav .upperNav {
    background: #243743; }
    nav .upperNav .menu-secondary-menu-container {
      color: #28b78d; }
      nav .upperNav .menu-secondary-menu-container:hover {
        color: #34d37c; }
    nav .upperNav .searchform #searchsubmit {
      color: #fafafa;
      background-color: #28b78d; }
      nav .upperNav .searchform #searchsubmit:hover {
        background-color: #34d37c; }
  nav .lowerNav ul li {
    background: #28b78d; }
    nav .lowerNav ul li:hover {
      background: #34d37c; }
  nav a {
    color: inherit; }
    nav a:hover {
      color: inherit; }

/* General Page */
.page-title {
  color: #fafafa; }

.child-page-list li a {
  color: #fafafa;
  background: #28b78d; }
  .child-page-list li a:hover {
    background: #34d37c; }

/* Footer */
footer {
  color: #fafafa;
  background-color: #243743; }
  footer hr {
    border-color: #8a949b; }

/* Front Page */
.introduction .intro-text p, .introduction .intro-text .link a {
  color: #fafafa; }
.introduction .intro-text .link {
  background: #28b78d; }
  .introduction .intro-text .link:hover {
    background: #34d37c; }
.introduction .second .link {
  background: #28b78d; }
  .introduction .second .link:hover {
    background: #34d37c; }
.introduction .second .left {
  background: #243743; }
.introduction .second .right {
  background: #8a949b; }
.introduction .second p, .introduction .second .link a {
  color: #fafafa; }

/* Large tablet, laptop and desktop viewport */

/*# sourceMappingURL=youandmeif.css.map */
