/*
This stylesheet holds all the styling for the theme's main navigation bar.
*/

@import 'partials/variables';
@import 'partials/mixins';

nav {
    font-size: 1em;
    color: $white;
    margin: 0 -15px;
    position: fixed;
    width: 100%;
    .upperNav {
        width: 100%;
        height: 2em;
        line-height: 2em;
        background: $main-blue;
    }
    .navMenu {
        height: $navHeight;
        line-height: $navHeight;
        text-align: center;
        cursor: pointer;
        background: $sub-blue;
    }
    .lowerNav {
        margin: 0 -15px;
        ul {
            max-height: 0;
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;
            li {
                text-align: center;
                line-height: $navHeight;
                background: $sub-blue-80;
                a {
                    color: $white;
                    display: block;
                    text-decoration: none;
                    border-bottom: 1px solid black;
                }
            }
        }
    }
}
.navScroll {
    max-height: 100% !important;
}

//navigation buttons for mobile viewport
.subMenuIcon {
    position: relative;
    height: 0;
    bottom: $navHeight; //-3.04em
    left: 5.5em;
    cursor: pointer;
    span {
        display: inline-block;
        background: red;
        line-height: 1.8em;
        height: 1.8em;
        width: 1.8em;
        border: 1px solid black;
        border-radius: 0.5em;
    }
}


@media screen and (min-width: 769px) {
    nav {
        .navStrip {
            position: fixed;
            height: $navHeight;
            width: 100%;
            background: $sub-blue-80;
        }
        .navMenu {
            display: none;
        }
        .lowerNav {
            .menu {
                > li { //parent menu-list
                    float: left;
                    display: block;
                    background: none;
                }
            }
            ul {
                max-height: none;
                overflow: visible;
                li {
                    display: none;
                    position: relative;
                    width: 9em;
                    &:hover {
                        > ul > li {
                            display: block;
                        }
                    }
                    ul {
                        ul { //repositioning to the left of its parent li
                            position: absolute;
                            top: 0;
                            left: 9em;
                        }
                    }
                    a {
                        border-bottom: none;
                    }
                }
            } // ul
        } // .lowerNav
    } // nav     
    .subMenuIcon {
        display: none;
    }
}