/*
This stylesheet holds all the styling for the theme's main navigation bar.
*/

@import 'partials/variables';
@import 'partials/mixins';

nav {
    margin: 0 -15px;
    position: fixed;
    width: 100%;
    .upperNav {
        width: 100%;
        height: 2em;
        line-height: 2em;
        overflow: hidden;
        .searchform {
            display: none;
        }
        
    }
    .navMenu {
        height: $navHeight;
        line-height: $navHeight;
        text-align: center;
        cursor: pointer;
        img {
            width: 150px;
            height: auto;
        }
    }
    .lowerNav {
        margin: 0 -15px;
        .logo-placeholder {
            display: none;
        }
        ul {
            max-height: 0;
            margin: 0;
            padding: 0;
            list-style-type: none;
            overflow: hidden;
            li {
                text-align: center;
                line-height: $navHeight;
                a {
                    display: block;
                    text-decoration: none;
                    border-bottom: 1px solid $main-blue;
                }
            }
        }
    }
}
.navScroll {
    max-height: 100% !important;
}

//navigation buttons for mobile viewport
.subMenuIcon {
    position: relative;
    height: 0;
    bottom: $navHeight;
    left: 5.5em;
    cursor: pointer;
    span {
        display: inline-block;
        background: red;
        line-height: 1.8em;
        height: 1.8em;
        width: 1.8em;
        border: 1px solid black;
        border-radius: 0.5em;
    }
}


@media screen and (min-width: 768px) {
    .navStrip {
            position: fixed;
            height: $navHeight;
            width: 100%;
    }
    nav {
        .navMenu {
            display: none;
        }
        .upperNav {
            .searchform {
                display: block;
                float: right;
                margin-left: 5px;
                color: black;
                font-size: $sm-font;
                input {
                    height: 1.5em;
                    line-height: normal;
                    font-weight: normal;
                    border: none;
                }
                .screen-reader-text {
                    opacity: 0;
                    position: absolute;
                }
                .search-submit {
                    color: $white;
                    background-color: $sub-blue;
                }
            }
        }
        .lowerNav {
            .menu-header-navigation-container {
                float: right;
            }
            .logo-placeholder {
                display: block;
                float: left;
                position: relative;
                img {
                    width: 150px;
                    height: auto;
                }
            }
            .menu {
                > li { //parent menu-list
                    float: left;
                    display: block;
                }
            }
            ul {
                max-height: none;
                overflow: visible;
                li {
                    display: none;
                    position: relative;
                    width: 9em;
                    &:hover {
                        > ul > li {
                            display: block;
                        }
                    }
                    ul {
                        ul { //repositioning to the left of its parent li
                            position: absolute;
                            top: 0;
                            left: 9em;
                        }
                    }
                    a {
                        border-bottom: none;
                    }
                }
            } // ul
        } // .lowerNav
    } // nav     
    .subMenuIcon {
        display: none;
    }
}