@import 'partials/variables';
@import 'partials/mixins';
@import 'navStyle';
@import 'pageStyle';
@import 'blogStyle';
@import 'footerStyle';
@import 'customCSS/about';
@import 'customCSS/nav';

/*
=====================================================================================
You & Me International Foundation default CSS settings
All CSS listed here can be modified in WP Admin Dashboard
=====================================================================================
*/

/* General Colors */

html,
body {
    a {
        color: $sub-blue;
        &:hover {
            color: $sub-blue;
        }
    }
}

/* Navigation */

nav {    
    color: $white;
    .navMenu,
    .navStrip {
        background: $sub-blue;
    } 
    .upperNav {
        background: $main-blue;
    }
    .lowerNav {
        ul {
            li {
                background: $sub-blue;
                &:hover {
                    background: $main-green;
                }
            }
        }
    }
    a {
    color: inherit;
        &:hover {
            color: inherit;
        }
    }
}

/* Large tablet, laptop and desktop viewport */
@media screen and (min-width: 768px) {
}