@import 'partials/variables';
@import 'partials/mixins';
@import 'reset';
@import 'globalThemeStyle';
@import 'navStyle';
@import 'pageStyle';
@import 'blogStyle';
@import 'footerStyle';
@import 'customCSS/generalFormat';
@import 'customCSS/home';
@import 'customCSS/about';
@import 'customCSS/nav';
@import 'customCSS/rental';

/* General Colors */

html,
body {
    a {
        color: $jungle-green;
        
        &:hover {
            color: $lime-green;
            text-decoration: none;
        }
    }
}

/* Navigation */

nav {    
    color: $white;
    .navMenu,
    .navStrip {
        background: $jungle-green;
    } 
    .upperNav {
        background: $blue-wood;
        .menu-secondary-menu-container {
            color: $jungle-green;
            &:hover {
                color: $lime-green;
            }
        }
        .searchform {
            #searchsubmit {
                color: $white;
                background-color: $jungle-green;
                &:hover {
                    background-color: $lime-green;
                }
            }
        }
    }
    .lowerNav {
        ul {
            li {
                background: $jungle-green;
                &:hover {
                    background: $lime-green;
                }
            }
        }
    }
    a {
    color: inherit;
        &:hover {
            color: inherit;
        }
    }
}

/* General Page */

.page-title {
    color: $white;
}

.child-page-list {
    li {
        
        a {
            color: $white;
            background: $jungle-green;
            &:hover {
                background: $lime-green;
            }
        }
    }
}

/* Footer */

footer {
    color: $white;
    background-color: $blue-wood;
    hr {
        border-color: $regent-gray;
//        @include hr-shadow(1.0);
    }
}


/* Front Page */

// general formatting
.link {
    background: $jungle-green;
    &:hover {
        background: $lime-green;
    }
    a {
        color: $white;
        &:hover {
            color: $white;
        }
    }
}

.introduction {
    .intro-text {
        p {
            color: $white;
        }
        .link {
            background: $jungle-green;
            &:hover {
                background: $lime-green;
            }
        }
    }
    .right-col {
        .link {
            background: $jungle-green;
            &:hover {
                background: $lime-green;
            }
        }
        .left {
            background: $blue-wood;
        }
        .right {
            background: $blue-wood-light;
        }
        p {
            color: $white;
        }
    }
}

.programList {
    .title {
        .box {
            background: $blue-wood;
        }
    }
    .box {
        .inner-format {
            background: $blue-wood;
            color: $white;
        }
    }
}

.get-involve {
    color: $white;
    .volunteer {
        background: rgba(40, 183, 141, 0.5);
    }
    .donate {
        background: rgba(36, 55, 67, 0.5);
    }
}


.eventList {
    .heading {
        color: $white;
        background: $blue-wood-light;
    }
    .event-post {
        border-bottom: 1px solid $regent-gray-50;
    }
    .post-date {
        color: $regent-gray;
    }
    .media {
        .widgettitle {
            color: $white;
        }
        
        /*--facebook--*/
        #weblizar_facebook_likebox-3 {
            .widgettitle {
                background: #3b5998;
            }
        }
        /*--twitter--*/
        #aptf_widget-6 {
            .widgettitle {
                background: #00aced;
            }
        }
    }
}

/* bootstrap small */
@media screen and (min-width: 768px) {
    .programList {
        .title {
            .box {
                .inner-format {
                    background: none;
                }
            }
        }
        .box {
            .inner-format {
                background: $blue-wood-light;
            }
        }
    }
}