// main colors
$jungle-green: rgb(40, 183, 141); // Hex:#28B78D
$lime-green: rgb(52, 211, 124); // Hex: #34D37C
$blue-wood: rgb(36, 55, 67); // Hex:#243743
$blue-wood-light: rgb(89, 136, 165); // Hex:# 5988A5
$regent-gray: rgb(138, 148, 155); // Hex:#8A949B
$regent-gray-50: rgba(138, 148, 155, 0.5); // Hex:#8A949B

// main navbar height
$navHeight: 50px; //3em

// font size
$sm-font: 0.8em;
$md-font: 1em;

/* ============ */
/* Color Scheme */
/* ============ */

// main colors
$blue: rgba(25, 83, 95, 1); // blue
$green: rgba(11, 122, 117, 1); // green
$mocha: rgba(215, 201, 170, 1); // mocha
$maroon: rgba(123, 45, 38, 1); // maroon
$white: rgba(240, 243, 245, 1); // white

// sub colors
$sea: rgba(66, 122, 161, 1); // sea
$grass: rgba(103, 148, 54, 1); // grass