@import '../partials/variables';
@import '../partials/mixins';

// Intro Section
.introduction {
    margin-top: 15px;
    .fp-intro {
        height: 250px;
        .img-background {
            width: 100%;
            height: 100%;
            overflow: hidden;
            @include header-bg;
            .intro-text {
                float: right;
                position: relative;
                width: 100%;
                height: 100%;
                background: rgba(36, 55, 67, 0.8);
                .link {
                    position: absolute;
                    bottom: 15px;
                    right: 15px;
                }
            }
        }
    }
    .right-col {
        .area {
            float: left;
            position: relative;
            width: 100%;
            height: 100%;
            .link {
                position: absolute;
                bottom: 15px;
                right: 15px;
            }
        }
    }
    .quote-area {
        margin-top: 60px;
        text-align: center;
    }
}

// Program Section
.programList {
    .program {
        margin-bottom: 15px;
    }
    .title {
            padding: 0;
        }
    .list {
        padding: 0;
    }
    .link {
        margin-top: 30px;
        width: 100%;
    }
}

// Get Involve Section
.get-involve {
    .area {
        padding: 15px 0;
        .link {
            position: absolute;
            right: 15px;
            bottom: 15px;
        }
    }
    .donate {
        margin-bottom: 60px;
    }
}

// Event Section
.eventList {
    .heading {
        margin-bottom: 15px;
        text-align: center;
    }
    .event {
        padding: 0;
        .event-post {
            margin-bottom: 15px;
            padding: 0 0 15px 0;
            .area {
                margin: 0 auto;
            }
            .left {
                width: 100%;
                height: 250px;
                overflow: hidden;
            }
            .right {
                padding: 0 15px;
                .post-title {
                    margin: 5px 0 0 0;
                }
                .post-date {
                    margin: 0;
                    font-size: $sm-font;
                }
            }
        }
        .archive-link {
            padding: 0;
            margin-bottom: 30px;
            .link {
                width: 100%;
            }
        }
        
    }
    .media {
        padding: 0;
        img {
            float: left;
            width: 10%;
            height: auto;
            margin-right: 5%;
        }
        .widget {
            float: left;
            width: 85%;
            height: auto;
            list-style: none;
            .widgettitle {
                background: #abc;
                margin: 0 0 15px 0;
                padding: 15px;
            }
        }
    }
}

// bootstrap extra small
@media screen and (min-width: 576px) {
    
    // into section
    .introduction {
        .fp-intro {
            .img-background {
                .intro-text {
                    width: 50%;
                }
            }
        }
        .right-col {
            .area {
                width: 50%;
            }
        }
    }
}

// bootstrap small
@media screen and (min-width: 768px) {
    
    // program section
    .programList {
        .title {
            padding: 0 7.5px 0 15px;
        }
        .list {
            padding: 0 15px 0 7.5px;
            .inner-format {
                margin-bottom: 15px;
            }
        }
        .link {
            position: absolute;
            bottom: 15px;
            right: 22.5px;
            width: 150px;
        }
    }
    // get involve section
    .get-involve {
        margin-top: 60px;
        padding-bottom: 60px;
        .row {
            padding: 0 15px;
        }
        .area {
            float: left;
            width: 50%;
        }
        .inner-format {
            height: 100%;
        }
        .volunteer {
            margin-bottom: 15px;
        }
    }
    
    // event section
    .eventList {
        .event {
            padding: 0 7.5px 0 15px;
            .event-post {
                .area {
                    float: left;
                    width: 50%;
                }
                .left {
                    height: 150px;
                }
                .right {
                    .post-title {
                        margin: 0;
                    }
                }
            }
        }
        .media {
            padding: 0 15px 0 7.5px;
        }
    }
}

// bootstrap med
@media screen and (min-width: 992px) {
    
    // general formating
    .left-col {
        padding-right: 7.5px;
    }
    .right-col {
        padding-left: 7.5px;
    }
}