@import '../partials/variables';
@import '../partials/mixins';

nav {
    .upperNav {
        .header-widget {
            ul {
                margin: 0;
                padding: 0;
            }
            li {
                margin: 0;
                list-style: none;
            }
        }
    }
    .lowerNav {
        .menu {
            >li {
                &:last-child {
                    background: $lime-green;
                }
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .lowerNav {
        .menu {
            >li {
                &:first-child {
                    display: none;
                }
            }
        }
    }
}