.outer .inner {
  padding: 15px; }
  .outer .inner h1,
  .outer .inner h2,
  .outer .inner h3,
  .outer .inner h4,
  .outer .inner h5,
  .outer .inner h6 {
    margin: 0; }

.link {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center; }
  .link a {
    display: block; }

.section-card {
  font-size: 30px;
  text-align: center; }
  .section-card h1,
  .section-card h2,
  .section-card h3,
  .section-card h4,
  .section-card h5,
  .section-card h6 {
    margin: 60px 0; }

.introduction {
  margin-top: 15px; }
  .introduction .fp-intro {
    height: 250px; }
    .introduction .fp-intro .img-background {
      width: 100%;
      height: 100%;
      overflow: hidden;
      -webkit-background-size: cover !important;
      -moz-background-size: cover !important;
      -ms-background-size: cover !important;
      -o-background-size: cover !important;
      background-size: cover !important; }
      .introduction .fp-intro .img-background .intro-text {
        float: right;
        position: relative;
        width: 100%;
        height: 100%;
        background: rgba(36, 55, 67, 0.8); }
        .introduction .fp-intro .img-background .intro-text .link {
          position: absolute;
          bottom: 15px;
          right: 15px; }
  .introduction .right-col .area {
    float: left;
    position: relative;
    width: 100%;
    height: 100%; }
    .introduction .right-col .area .link {
      position: absolute;
      bottom: 15px;
      right: 15px; }
  .introduction .quote-area {
    margin-top: 60px;
    text-align: center; }

.programList .program {
  margin-bottom: 15px; }
.programList .title {
  padding: 0; }
.programList .list {
  padding: 0; }
.programList .link {
  margin-top: 30px;
  width: 100%; }

.eventList .heading {
  margin-bottom: 15px;
  text-align: center;
  background: #abc; }
.eventList .event {
  padding: 0; }
  .eventList .event .event-post {
    margin-bottom: 15px;
    padding: 0 0 15px 0; }
    .eventList .event .event-post .area {
      margin: 0 auto; }
    .eventList .event .event-post .left {
      width: 100%;
      height: 250px;
      overflow: hidden; }
    .eventList .event .event-post .right {
      padding: 0 15px; }
      .eventList .event .event-post .right .post-title {
        margin: 5px 0 0 0; }
      .eventList .event .event-post .right .post-date {
        margin: 0;
        font-size: 0.8em; }
  .eventList .event .archive-link {
    padding: 0;
    margin-bottom: 30px; }
    .eventList .event .archive-link .link {
      width: 100%; }
.eventList .media {
  padding: 0; }

@media screen and (min-width: 576px) {
  .introduction .fp-intro .img-background .intro-text {
    width: 50%; }
  .introduction .right-col .area {
    width: 50%; } }
@media screen and (min-width: 768px) {
  .programList .title {
    padding: 0 7.5px 0 15px; }
  .programList .list {
    padding: 0 15px 0 7.5px; }
    .programList .list .inner {
      margin-bottom: 15px; }
  .programList .link {
    position: absolute;
    bottom: 15px;
    right: 22.5px;
    width: 150px; }

  .eventList .event {
    padding: 0 7.5px 0 15px; }
    .eventList .event .event-post .area {
      float: left;
      width: 50%; }
    .eventList .event .event-post .left {
      height: 150px; }
    .eventList .event .event-post .right .post-title {
      margin: 0; }
  .eventList .media {
    padding: 0 15px 0 7.5px; } }
@media screen and (min-width: 992px) {
  .left-col {
    padding-right: 7.5px; }

  .right-col {
    padding-left: 7.5px; } }
.img-container {
  width: 100%;
  height: 100%; }

.wh {
  height: 100% !important; }

.ww {
  width: 100% !important; }

/*# sourceMappingURL=home.css.map */
